---

- name: Include OS Family vars
  include_vars: "{{ansible_os_family}}.yml"
  tags: always

- include: install.yml
  tags: awsmon_install

- include: cron.yml
  sudo: true
  tags: awsmon_cron

- include: alarm.yml
  tags: awsmon_alarms
  
# vi:ts=2:sw=2:et:ft=yaml
